Repository ocsf/ocsf-schema, changes with the labels that .github/labeler.yml gives for each.
All labels: core-schema, application, audit, cloud, database, findings, inventory, network, system, virtualization

Fix -1 enum to 99
  dictionary.json
Labels: core-schema

Change System Resource to be Windows specific
  dictionary.json
  events/system/windows/resource.json
  objects/system_resource.json
  objects/win_resource.json
Labels: core-schema, system

Bump version to 0.52.0
  version.json
Labels: core-schema

Moving Database and Virtualization extension, in preparation for RC1
  categories.json
  extensions/dev/categories.json
  extensions/dev/events/storage/database.json
  extensions/dev/events/storage/lifecycle.json
  extensions/dev/events/virtualization/container_lifecycle.json
  extensions/dev/events/virtualization/virtual_machine.json
Labels: core-schema

Updating schema version
  version.json
Labels: core-schema

Tweak descriptions, standardize on 'resource object' naming convention
  dictionary.json
  events/system/windows/resource.json
  objects/win_resource.json
Labels: core-schema, system

Add event id 4661 types to type_id enum
  objects/win_resource.json
Labels: core-schema

Removing Cloud API Category, moving classes to extension
  categories.json
  enums/cloud_activity.json
  events/cloud/cloud.json
  events/cloud/cloud_api.json
  extensions/dev/categories.json
  extensions/dev/events/cloud/cloud_api.json
  extensions/dev/events/storage/cloud_storage.json
Labels: core-schema, cloud

incrementing version
  version.json
Labels: core-schema

Updating Category uid for inventory
  categories.json
Labels: core-schema

Removing Cloud API Category, moving classes to extension (#444)
  categories.json
  enums/cloud_activity.json
  events/cloud/cloud.json
  events/cloud/cloud_api.json
  extensions/dev/categories.json
  extensions/dev/events/cloud/cloud_api.json
  extensions/dev/events/storage/cloud_storage.json
  version.json
Labels: core-schema, cloud

Add reputation to observable object
  objects/observable.json
Labels: core-schema

Remove reputation profile from various objects
  objects/endpoint.json
  objects/file.json
  objects/network_interface.json
  objects/url.json
Labels: core-schema

Remove reputation profile
  profiles/reputation.json
Labels: core-schema

Update version
  version.json
Labels: core-schema

Move RFB event class to dev extension
  extensions/dev/events/network/rfb.json
Labels: none

Move RFB related attributes to dev extension
  dictionary.json
  events/network/rfb.json
  extensions/dev/dictionary.json
  extensions/dev/objects/frame_buffer.json
  extensions/dev/objects/pixel_info.json
Labels: core-schema, network

Rename malware profile to securitycontrol, malware attribute optional and attacks recommended
  profiles/securitycontrol.json
Labels: core-schema

Replace malware profile with security control
  events/findings/security_finding.json
  events/network/network.json
  events/system/system.json
  extensions/dev/events/network/email/email.json
  extensions/dev/events/network/email/email_file.json
  extensions/dev/events/network/email/email_url.json
Labels: findings, network, system

Move RFB event class to dev extension (#446)
  dictionary.json
  extensions/dev/dictionary.json
  extensions/dev/events/network/rfb.json
  extensions/dev/objects/frame_buffer.json
  extensions/dev/objects/pixel_info.json
Labels: core-schema

Rename api class as api_activity
  events/audit/api.json
  extensions/dev/events/storage/cloud_storage.json
Labels: audit

Remove reputation profile and add reputation to observable object (#445)
  objects/endpoint.json
  objects/file.json
  objects/network_interface.json
  objects/observable.json
  objects/url.json
  profiles/reputation.json
  version.json
Labels: core-schema

Extend api_activity instead of cloud_api in the cloud_storage class
  extensions/dev/events/storage/cloud_storage.json
Labels: none

Rename securitycontrol to security_control
  events/findings/security_finding.json
  events/network/network.json
  events/system/system.json
  extensions/dev/events/network/email/email.json
  extensions/dev/events/network/email/email_file.json
  extensions/dev/events/network/email/email_url.json
  profiles/security_control.json
Labels: core-schema, findings, network, system

Tweak field names so that less fields are added to the dictionary
  dictionary.json
  objects/win_resource.json
Labels: core-schema

Update Audit category description
  categories.json
Labels: core-schema

reorganize email fields
  extensions/dev/events/network/email/email.json
  extensions/dev/objects/email_auth.json
  objects/email.json
Labels: core-schema

Updating descriptions of the Identity object
  dictionary.json
  objects/authorization.json
  objects/identity.json
  objects/idp.json
  objects/session.json
Labels: core-schema

minor grammatical correction
  dictionary.json
  objects/authorization.json
Labels: core-schema

Minor description updates in the api_activity event
  events/audit/api.json
Labels: audit

Minor updates to Authentication class
  dictionary.json
  events/audit/authentication.json
  objects/identity.json
Labels: core-schema, audit

Language consistency update
  categories.json
Labels: core-schema

Add missing group attributes for email fields
  extensions/dev/events/network/email/email.json
Labels: none

Add missing start paragraph tag for email direction id description
  extensions/dev/events/network/email/email.json
Labels: none

Undo rename of smtp_hello to src_smtp_hello
  extensions/dev/events/network/email/email.json
Labels: none

Updates to the Authentication Class (#454)
  dictionary.json
  events/audit/api.json
  events/audit/authentication.json
  objects/identity.json
Labels: core-schema, audit

Change win_resource.type from 'required' to 'optional'
  objects/win_resource.json
Labels: core-schema

Roll the version
  version.json
Labels: core-schema

minor description edits
  dictionary.json
  events/audit/api.json
  objects/resource.json
Labels: core-schema, audit

Updating account_change class
  events/audit/account.json
Labels: audit

.github/labeler.yml:

core-schema:
- '*'
- enums/*
- events/*
- includes/*
- objects/*
- profiles/*

application:
- events/application/*
- events/application/**/*

audit:
- events/audit/*
- events/audit/**/*

cloud:
- events/cloud/*
- events/cloud/**/*

database:
- events/database/*
- events/database/**/*

findings:
- events/findings/*
- events/findings/**/*

inventory:
- events/inventory/*
- events/inventory/**/*

network:
- events/network/*
- events/network/**/*

system:
- events/system/*
- events/system/**/*

virtualization:
- events/virtualization/*
- events/virtualization/**/*
