Repository ocsf/ocsf-schema, changes with the labels that .github/labeler.yml gives for each.
All labels: core-schema, application, audit, cloud, database, findings, inventory, network, system, virtualization

.github/labeler.yml:

core-schema:
- '*'
- enums/*
- events/*
- includes/*
- objects/*
- profiles/*

application:
- events/application/*
- events/application/**/*

audit:
- events/audit/*
- events/audit/**/*

cloud:
- events/cloud/*
- events/cloud/**/*

database:
- events/database/*
- events/database/**/*

findings:
- events/findings/*
- events/findings/**/*

inventory:
- events/inventory/*
- events/inventory/**/*

network:
- events/network/*
- events/network/**/*

system:
- events/system/*
- events/system/**/*

virtualization:
- events/virtualization/*
- events/virtualization/**/*

version update
  version.json
Labels: core-schema

tense correction in the class description
  events/audit/account.json
Labels: audit

Updating the description for string siblings according to #450
  dictionary.json
Labels: core-schema

Promote email activity from dev extension to main
  events/network/email.json
  includes/email.json
Labels: core-schema, network

event class modifications to account for actor object
  events/audit/access_activity.json
  events/audit/account.json
  events/audit/api.json
  events/audit/authentication.json
Labels: audit

Description updates
  dictionary.json
Labels: core-schema

Removing Identity in favor of actor, description updates
  objects/actor.json
  objects/identity.json
  objects/resource.json
Labels: core-schema

updating the version
  version.json
Labels: core-schema

removing resources
  events/audit/account.json
Labels: audit

Adding enum values to the account change class
  events/audit/account.json
Labels: audit

Adding uuid to session, removing it from user, adding account type enum
  dictionary.json
  objects/session.json
  objects/user.json
Labels: core-schema

incrementing version
  version.json
Labels: core-schema

Move email_uid to the email object as uid
  dictionary.json
  events/network/email.json
  extensions/dev/dictionary.json
  objects/email.json
Labels: core-schema, network

Cleaning up cloud object description and attribuets
  dictionary.json
  objects/cloud.json
Labels: core-schema

Move email related attributes to the main dictionary
  dictionary.json
  extensions/dev/dictionary.json
  extensions/dev/events/network/email/email_file.json
  extensions/dev/events/network/email/email_url.json
  includes/email.json
  objects/email.json
  objects/email_auth.json
Labels: core-schema

Add session_uid to the dev dictionary, remove identity attribute
  extensions/dev/dictionary.json
  extensions/dev/events/cloud/cloud_api.json
Labels: none

Change schema version to 0.99.0
  version.json
Labels: core-schema

Updating the enum definition of direction_id to match the one in connection object
  dictionary.json
Labels: core-schema

removing redundant overridden definition from the object
  objects/network_connection.json
Labels: core-schema

Change security control profile caption to not contain the 's'
  profiles/security_control.json
Labels: core-schema

Update version
  version.json
Labels: core-schema

Change security control profile caption to not contain the 's' (#467)
  profiles/security_control.json
  version.json
Labels: core-schema

Add missing user session attributes
  dictionary.json
  events/audit/authentication.json
  events/audit/authorization.json
  objects/actor.json
  objects/process.json
  version.json
Labels: core-schema, audit

Make actor always available in the authentication class
  events/audit/authentication.json
Labels: audit
