Repository ocsf/ocsf-schema, pull requests merged in 2022-11, with the labels that each got.

#338 Fix collisions with the category IDs defined in the core schema
  README.md
  extensions/dev/categories.json
  version.json
Labels: bug

#353 re-instating terminated_time in the process object
  dictionary.json
  objects/process.json
  version.json
Labels: system_activity, findings

#359 FIx #356: Email finding's disposition_id has duplicate entries
  dictionary.json
  extensions/dev/events/findings/email/email.json
  extensions/dev/events/policy/email_protection.json
  extensions/dev/events/policy/network_policy.json
  version.json
Labels: findings

#381 Renumber the system activity class uid's
  dictionary.json
  events/system/filesystem.json
  events/system/kernel_extension.json
  events/system/scheduled_job.json
  version.json
Labels: enhancement, system_activity

#380 Change access_result type to json_t
  dictionary.json
  version.json
Labels: bug

#383 Fix a typo in description
  dictionary.json
  events/base_event.json
  objects/file.json
  objects/fingerprint.json
  objects/process.json
  objects/user.json
Labels: bug
