Repository ocsf/ocsf-schema, pull requests merged in 2022-12, with the labels that each got.

#384 Update description of the base classes in the categories
  events/application/application.json
  events/audit/audit.json
  events/audit/entity.json
  events/base_event.json
  events/cloud/cloud.json
  events/database/database.json
  events/database/lifecycle.json
  events/inventory/inventory.json
  events/system/system.json
  events/virtualization/virtualization_activity.json
Labels: documentation

#397 chore: update metadata.version's description
  objects/metadata.json
Labels: grammar_consistency

#400 File Object username -> User objects
  dictionary.json
Labels: system_activity

#401 Registry Key/Value Previous Result
  dictionary.json
  events/system/windows/registry_key.json
  events/system/windows/registry_value.json
  version.json
Labels: system_activity
