Repository ocsf/ocsf-schema, pull requests merged in 2023-04, with the labels that each got.

#551 #428 Add a Windows Events profile
  dictionary.json
  events/access_control/access_control.json
  events/system/system.json
  profiles/winlog.json
Labels: enhancement, system_activity

#568 Added org_name and adjusted the descriptions of org_unit and org_uid, and os
  dictionary.json
Labels: documentation, enhancement, non_breaking

#563 Remove the winlog profile
  dictionary.json
  events/access_control/access_control.json
  events/system/system.json
  objects/metadata.json
  profiles/winlog.json
Labels: enhancement, non_breaking

#573 Update uuid_type and its usage
  dictionary.json
  objects/session.json
  objects/user.json
Labels: framework, non_breaking

#579 Fix base type properties
  dictionary.json
Labels: bug, non_breaking

#587 Move peripheral_device object to dev extension
  dictionary.json
  extensions/dev/dictionary.json
  extensions/dev/objects/peripheral_device.json
Labels: non_breaking

#592 Fix missing linux profile warning
  extensions/linux/objects/process.json
Labels: bug, non_breaking

#596 Fix [warning] security_finding uses 'security_control' profile...
  events/findings/security_finding.json
  extensions/linux/extension.json
  extensions/linux/profiles/linux_users.json
Labels: non_breaking

#593 Added two new classes for User Access Management and Group Management
  events/access_control/group_management.json
  events/access_control/user_access.json
Labels: audit_activity, non_breaking

#594 Adjusting confidence level related attributes in security finding, also correcting description for impact.
  dictionary.json
  events/base_event.json
  events/findings/security_finding.json
Labels: breaking
