Repository ocsf/ocsf-schema, pull requests merged in 2023-05, with the labels that each got.

#604 Removing constraints from http_request object
  dictionary.json
  objects/http_request.json
Labels: non_breaking

#601 Remove resource_uid from dictionary as it is unused.
  dictionary.json
Labels: non_breaking

#597 Update the Authentication class
  dictionary.json
  events/access_control/authentication.json
  objects/session.json
Labels: enhancement, breaking

#614 Fixup objects that were not extending 'object'; Organization updated to extend 'entity'
  objects/display.json
  objects/email.json
  objects/email_auth.json
  objects/keyboard_info.json
  objects/organization.json
Labels: non_breaking

#616 Adding clarifications, links & minor cleanup of contribution doc
  CONTRIBUTING.md
Labels: documentation

#620 Updated the description for the user's account, and the uid example.
  dictionary.json
  objects/user.json
Labels: documentation, breaking

#622 Reorganize object folder structure so that physical structure reflects logical hierarchy
  CONTRIBUTING.md
  objects/_object.json
  objects/actor.json
  objects/dce_rpc.json
  objects/dns/_dns.json
  objects/dns/dns_answer.json
  objects/dns/dns_query.json
  objects/entity/_entity.json
  objects/entity/account.json
  objects/entity/analytic.json
  objects/entity/endpoint/_endpoint.json
  objects/entity/endpoint/device.json
  objects/entity/endpoint/network_endpoint.json
  objects/entity/extension.json
  objects/entity/feature.json
  objects/entity/file.json
  objects/entity/group.json
  objects/entity/idp.json
  objects/entity/image.json
  objects/entity/malware.json
  objects/entity/managed_entity.json
  objects/entity/network_interface.json
  objects/entity/organization.json
  objects/entity/policy.json
  objects/entity/process.json
  objects/entity/product.json
  objects/entity/resource.json
  objects/entity/rule.json
  objects/entity/service.json
  objects/entity/tactic.json
  objects/entity/technique.json
  objects/entity/user.json
  objects/entity/win_resource.json
Labels: non_breaking

#626 Changed category name from Access Control to Identity & Access Management
  categories.json
  events/access_control/access_control.json
  events/access_control/account.json
  events/access_control/authentication.json
  events/access_control/authorization.json
  events/access_control/entity.json
  events/access_control/group_management.json
  events/access_control/user_access.json
  extensions/dev/events/audit/policy_audit.json
Labels: documentation, access_control, non_breaking

#638 Renamed access_control folder and base json file to iam to match the category name (Issue #630)
  events/iam/account.json
  events/iam/authentication.json
  events/iam/authorization.json
  events/iam/entity.json
  events/iam/group_management.json
  events/iam/iam.json
  events/iam/user_access.json
Labels: non_breaking

#628 Changed the Device uuid attribute to the uid_alt attribute and update User uid description.
  objects/entity/endpoint/device.json
  objects/entity/user.json
Labels: documentation, breaking

#637 Removed the org attribute from Account object and Discovery classes (#Issue 629)
  events/discovery/discovery.json
  objects/entity/account.json
Labels: breaking

#641 Fix 634: Make fingerprint object an observable
  objects/fingerprint.json
Labels: non_breaking

#645 Account Change User is now Required (Actor is Recommended)
  dictionary.json
  events/iam/account_change.json
  objects/entity/endpoint/device.json
Labels: non_breaking

#646 Updated the URL object to better conform to RFC 1738.
  dictionary.json
  objects/http_request.json
  objects/url.json
Labels: documentation, breaking

#647 Corrected Finding Details object supporting_data attribute
  dictionary.json
Labels: bug, breaking

#652 Added the full_name attribute to the dictionary and to the User object.
  dictionary.json
  objects/entity/user.json
Labels: enhancement, non_breaking

#651 Cleanup observable attribute descriptions
  objects/observable.json
Labels: non_breaking

#653 Added four time attributes as optional to Device
  objects/entity/endpoint/device.json
Labels: enhancement, non_breaking

#656 Resource type object clean up, removal of data from base event
  dictionary.json
  events/application/web_resource_access_activity.json
  events/base_event.json
  extensions/windows/objects/win_resource.json
  objects/entity/resource/_resource.json
  objects/entity/resource/resource_details.json
  objects/entity/resource/web_resource.json
Labels: enhancement

#660 Moved network_proxy under the endpoint object hierarchy.
  objects/entity/endpoint/network_proxy.json
  objects/network_proxy.json
Labels: documentation, network_activity, non_breaking

#661 Cleaning up object definition in the contribution guide
  CONTRIBUTING.md
Labels: documentation
