Repository ocsf/ocsf-schema, pull requests merged in 2023-02, with the labels that each got.

#484 Change the version to 1.0.1-alpha
  version.json
Labels: non_breaking

#486 #427 Add descriptions to activity_id enums (nonbreaking)
  enums/file_activity.json
  version.json
Labels: system_activity, non_breaking

#489 Updating description of the rcode field
  events/network/dns.json
  version.json
Labels: network_activity, non_breaking
