Repository ocsf/ocsf-schema, pull requests merged in 2023-09, with the labels that each got.

#765 Add activity_id for Kerberos Ticket Renewals
  events/iam/authentication.json
Labels: enhancement, iam

#745 Cleanup ip_t and subnet_t types
  dictionary.json
Labels: enhancement, non_breaking, description_updates

#767 Issue 756: Deprecate `http_status`
  dictionary.json
  objects/http_response.json
Labels: network_activity

#772 Clean up the Person profile
  dictionary.json
  objects/user.json
  profiles/person.json
Labels: non_breaking, description_updates

#775 Remove the default version from metadata
  objects/metadata.json
Labels: non_breaking

#776 Undo breaking changes for finding, remediation and vulnerability object
  dictionary.json
  objects/finding.json
  objects/remediation.json
  objects/vulnerability.json
Labels: bug, findings, non_breaking

#777 Adding Exploit Availability field to the vulnerability object
  dictionary.json
  objects/vulnerability.json
Labels: enhancement, findings, non_breaking

#785 Adding requirement property to all attributes in the metadata object
  objects/metadata.json
Labels: enhancement, non_breaking

#792 objects/user: make $include be a list of strings
  CONTRIBUTING.md
  objects/finding_info.json
  objects/user.json
Labels: enhancement, framework, non_breaking

#800 Updating http_response object to include http_header object
  objects/http_response.json
Labels: enhancement, network_activity, non_breaking

#796 Additions to the Session object, minor requirement adjustment to the user object
  objects/session.json
  objects/user.json
Labels: iam, non_breaking
