Repository ocsf/ocsf-schema, pull requests merged in 2023-12, with the labels that each got.

#864 Fixed is_array property for loggers
  dictionary.json
Labels: non_breaking

#859 Fixed requirement for compliance standards
  objects/compliance.json
Labels: non_breaking

#873 Deprecate unused group_name
  dictionary.json
Labels: non_breaking

#879 Demote class and type within dns_query/dns_answer to be recommended
  objects/_dns.json
Labels: network_activity, non_breaking

#883 Correction of version values in @deprecated tags
  dictionary.json
  objects/analytic.json
  objects/finding.json
  objects/metadata.json
Labels: bug, non_breaking

#877 The new Detection Finding event class
  dictionary.json
  events/findings/compliance_finding.json
  events/findings/detection_finding.json
  events/findings/finding.json
  events/findings/security_finding.json
  objects/evidences.json
  objects/finding_info.json
Labels: enhancement, findings, non_breaking, description_updates

#851 Update the security_control profile to include access control check semantics, and firewall profile semantics.
  dictionary.json
  profiles/security_control.json
Labels: enhancement, system_activity, findings, iam, network_activity, non_breaking, description_updates

#889 Removed the firewall profile -
  events/application/web_resources_activity.json
  events/network/dhcp.json
  events/network/network.json
  profiles/firewall.json
Labels: network_activity, non_breaking

#890 Deprecated the Web Resource Access Activity and enhanced Web Resources Activity
  events/application/web_resource_access_activity.json
  events/application/web_resources_activity.json
Labels: enhancement, non_breaking, application_activity, deprecation, v1.1.0

#901 Demote dst_endpoint from 'required' to 'recommended' in the DNS event…
  events/network/dns.json
Labels: network_activity, non_breaking

#897 New Load Balancer Profile for the Network Activity classes
  dictionary.json
  events/network/network.json
  objects/endpoint_connection.json
  objects/load_balancer.json
  profiles/load_balancer.json
Labels: enhancement, network_activity
