Repository ocsf/ocsf-schema, pull requests merged in 2023-01, with the labels that each got.

#414 Add 'interface_name' to complement 'interface_uid'.
  dictionary.json
  objects/endpoint.json
  objects/network_endpoint.json
  version.json
Labels: enhancement, network_activity

#416 chore(system): removed Named Pipe from Kernel Resource
  objects/kernel.json
Labels: system_activity

#434 Moving access_activity class to Audit Category
  categories.json
  events/application/application.json
  events/audit/access_activity.json
Labels: audit_activity, application_activity

#436 Changing enum value for 'other' from -1 to 99
  dictionary.json
  enums/defaults.json
  includes/classification.json
Labels: enhancement, framework

#439 Updating classification_ids enum to account for the 99 change
  objects/malware.json
Labels: enhancement

#443 Moving Database and Virtualization Categories to extension, in preparation for RC1
  categories.json
  extensions/dev/categories.json
  extensions/dev/events/storage/database.json
  extensions/dev/events/storage/lifecycle.json
  extensions/dev/events/virtualization/container_lifecycle.json
  extensions/dev/events/virtualization/virtual_machine.json
  version.json
Labels: enhancement

#453 Updating descriptions of the Identity object
  dictionary.json
  objects/authorization.json
  objects/identity.json
  objects/idp.json
  objects/session.json
Labels: enhancement

#455 Change win_resource 'type' from 'required' to 'optional'
  objects/win_resource.json
  version.json
Labels: system_activity

#461 Repurpose Actor Object, delete Identity Object & Update classes
  dictionary.json
  events/audit/access_activity.json
  events/audit/account.json
  events/audit/api.json
  events/audit/authentication.json
  objects/actor.json
  objects/identity.json
  objects/resource.json
  version.json
Labels: enhancement
