Repository ocsf/ocsf-schema, pull requests merged in 2023-08, with the labels that each got.

#707 Issue-703: Remove url_string, path and hostname requirements
  dictionary.json
  objects/url.json
Labels: network_activity, non_breaking

#709 Merge Changes: New attributes and object for patch metadata (kb_article)
  dictionary.json
  objects/kb_article.json
Labels: enhancement, findings

#712 Issue 710: Update Network Interface Object
  dictionary.json
  objects/network_interface.json
Labels: network_activity, non_breaking

#715 Issue 711: Change Interface Attribute in DCE/RPC Object
  dictionary.json
  objects/dce_rpc.json
  objects/rpc_interface.json
Labels: network_activity, breaking

#724 Added MFA changes to account change schema
  events/iam/account_change.json
Labels: enhancement, iam, non_breaking

#732 Refactor the dispostion_id values
  dictionary.json
  profiles/firewall.json
  profiles/security_control.json
Labels: non_breaking

#737 Update the Categories page description
  categories.json
Labels: non_breaking

#739 Cleanup included files
  enums/authorization.json
  enums/defaults.json
  enums/dns_activity.json
  enums/file_activity.json
  enums/http_activity.json
  enums/kernel_activity.json
  enums/kernel_extension_activity.json
  enums/memory_activity.json
  enums/module_activity.json
  enums/network_activity.json
  enums/process_activity.json
  enums/registry_key_activity.json
  enums/registry_value_activity.json
  events/base_event.json
  events/iam/authorize_session.json
  events/network/dns.json
  events/network/http.json
  events/network/network.json
  events/system/filesystem.json
  events/system/kernel.json
  events/system/kernel_extension.json
  events/system/memory.json
  events/system/module.json
  events/system/process.json
  extensions/windows/events/registry_key.json
  extensions/windows/events/registry_value.json
  includes/classification.json
  includes/network.json
  includes/occurrence.json
Labels: framework, non_breaking

#731 Add cpe_name to os object
  objects/os.json
Labels: enhancement

#755 Fix #754: Cleanup user object
  objects/user.json
Labels: invalid, non_breaking
