Repository ocsf/ocsf-schema, pull requests merged in 2023-11, with the labels that each got.

#840 Adding optional UID attribute to Certificate object
  objects/certificate.json
Labels: network_activity, non_breaking

#801 Additional Discovery Events
  dictionary.json
  events/discovery/discovery_result.json
  events/discovery/file_info.json
  events/discovery/folder_info.json
  events/discovery/group_info.json
  events/discovery/job_info.json
  events/discovery/kernel_object_info.json
  events/discovery/module_info.json
  events/discovery/network_connection_info.json
  events/discovery/networks_info.json
  events/discovery/peripheral_device_info.json
  events/discovery/process_info.json
  events/discovery/service_info.json
  events/discovery/session_info.json
  events/discovery/user_info.json
  extensions/macos/dictionary.json
  extensions/macos/events/startup_app_info.json
  extensions/macos/extension.json
  extensions/macos/objects/startup_app.json
  extensions/windows/events/prefetch_info.json
  extensions/windows/events/registry_key_info.json
  extensions/windows/events/registry_value_info.json
  objects/peripheral_device.json
Labels: enhancement, discovery, non_breaking

#842 Adding the existing Policy object to the account change event class.
  events/iam/account_change.json
Labels: iam, non_breaking

#835 #833 add tenant_uid to metadata
  dictionary.json
  objects/metadata.json
Labels: enhancement, non_breaking

#847 #813 Person profile attributes -> object within user
  CONTRIBUTING.md
  dictionary.json
  events/discovery/user_inventory.json
  objects/ldap_person.json
  objects/user.json
Labels: documentation, enhancement, description_updates

#841 #816 Boolean-Type Consistency
  dictionary.json
  objects/http_cookie.json
  objects/kb_article.json
Labels: grammar_consistency

#736 Implement Metaschema
  .vscode/settings.json
  metaschema/attribute.schema.json
  metaschema/event.schema.json
  metaschema/object.schema.json
Labels: enhancement, maintainers, framework

#830 Add GitHub action for deeper schema validation of PRs
  .github/workflows/deep-validate.yml
  .github/workflows/validate.yml
Labels: enhancement, framework

#857 Issue 854: Add URL to network activity class
  events/network/dns.json
  events/network/file_activity.json
  events/network/ftp.json
  events/network/http.json
  events/network/network.json
  events/network/network_activity.json
  events/network/ntp.json
  events/network/rdp.json
  events/network/smb.json
  events/network/ssh.json
Labels: network_activity, non_breaking

#856 Deprecate the proxy (endpoint) object and move it to the network proxy profile
  dictionary.json
  events/network/network.json
Labels: network_activity

#746 New class for OS patching using kb_articles object
  events/discovery/patch_state.json
Labels: enhancement, discovery, non_breaking

#868 Removing unused default keys from the dictionary
  dictionary.json
Labels: non_breaking

#871 Add the domain attribute to the group object
  objects/group.json
Labels: enhancement, non_breaking
