Repository ocsf/ocsf-schema, pull requests merged in 2023-10, with the labels that each got.

#802 Issue #799 add a terminal object for tty/pts and other pseudo terminals
  dictionary.json
  objects/session.json
Labels: enhancement, system_activity, network_activity, non_breaking

#807 User object definition fix
  objects/user.json
Labels: bug, non_breaking

#811 Adding consistency in boolean attribute naming
  dictionary.json
  objects/vulnerability.json
Labels: findings, grammar_consistency, non_breaking

#815 Updating HTTP Activity class with HTTP Cookies Object
  events/network/http.json
Labels: network_activity, non_breaking

#806 Issue 794: Add authentication type to the ssh event class
  events/network/ssh.json
Labels: enhancement, network_activity, non_breaking

#824 The new Compliance finding event class
  dictionary.json
  events/findings/compliance_finding.json
  objects/compliance.json
  objects/remediation.json
Labels: findings, non_breaking

#825 Add plural 'extensions' array
  dictionary.json
  objects/metadata.json
Labels: enhancement, non_breaking

#827 Issue 826 Fix: Add activity_id descriptions to Network File Activity
  events/network/file_activity.json
Labels: enhancement, network_activity, grammar_consistency

#832 chore: fix whitespace issues in the CVSS object
  objects/cvss.json
Labels: findings, non_breaking

#831 Adding percentile attribute to the EPSS object
  dictionary.json
  objects/epss.json
Labels: enhancement, findings

#828 Add Sync/Unsync activity_ids to Network File Activity
  events/network/file_activity.json
Labels: enhancement, network_activity, non_breaking
