Repository ocsf/ocsf-schema, pull requests merged in 2023-07, with the labels that each got.

#677 Issue-672: Extend network event in network file activity
  events/network/file_activity.json
Labels: network_activity

#678 Adding CWE object to the framework & in the vulnerability object
  dictionary.json
  objects/cve.json
  objects/cwe.json
  objects/vulnerability.json
Labels: enhancement, findings, breaking

#688 Updating Descriptions of Cloud Profile, API object
  dictionary.json
  profiles/cloud.json
Labels: enhancement, non_breaking, description_updates

#690 Issue 689: Add type/type_id to endpoint object
  objects/device.json
  objects/endpoint.json
  objects/network_endpoint.json
Labels: network_activity, non_breaking
