Repository ocsf/ocsf-schema, pull requests merged in 2023-03, with the labels that each got.

#501 #470 Promote Splunk's Network File Activity event class to OCSF core
  events/network/file_activity.json
  version.json
Labels: enhancement, network_activity, non_breaking

#502 Update the extensions.md file
  extensions.md
Labels: documentation, non_breaking

#504 [nonbreaking] Add 'is_new_logon' optional context attribute
  dictionary.json
  events/audit/authentication.json
  version.json
Labels: enhancement, audit_activity, non_breaking

#505 [nonbreaking] Add 'Open' activity_id to Network File Activity
  events/network/file_activity.json
  version.json
Labels: enhancement, network_activity, non_breaking

#508 Adding a new field in the vulnerability object.
  dictionary.json
  objects/vulnerability.json
  version.json
Labels: enhancement, findings, non_breaking

#509 [Nonbreaking] Add Optional attribute 'expiration_time' to the Network File Activity class.
  events/network/file_activity.json
  version.json
Labels: enhancement, network_activity, non_breaking

#511 Issue #510: New values for the category_uid and class_uid of the base…
  includes/classification.json
Labels: breaking

#516 Issue 500: Update JA3 Attributes in TLS Object
  dictionary.json
  objects/tls.json
Labels: breaking

#517 Issue-515: Add hash attribute to dictionary
  dictionary.json
Labels: enhancement, non_breaking

#528 Revising Resource Object
  dictionary.json
  objects/resource.json
  objects/url.json
Labels: breaking

#541 Fix a typo in the file object desc
  objects/file.json
Labels: non_breaking

#540 Update fingerprint to fingerprints in digital certificate object
  objects/certificate.json
Labels: network_activity, breaking

#539 Update hassh algorithm description
  objects/hassh.json
Labels: network_activity, non_breaking

#542 #537 Fix HTTP Activity IDs and HTTP Method
  enums/http_activity.json
  events/network/http.json
  objects/http_request.json
Labels: enhancement, network_activity, breaking

#544 Issue 543: Update Container Object
  dictionary.json
  extensions/dev/dictionary.json
  extensions/dev/objects/container.json
Labels: non_breaking

#547 Issue 545: Move unused attributes to dev
  dictionary.json
  extensions/dev/dictionary.json
  extensions/dev/objects/domain_info.json
  extensions/dev/objects/vnc.json
  objects/file.json
Labels: non_breaking
