Repository ocsf/ocsf-schema, pull requests merged in 2024-01, with the labels that each got.

#900 Replace "File Hash" observable Caption with "Hash"
  dictionary.json
Labels: description_updates

#906 Added the security_control profile, removed the malware attribute
  events/findings/detection_finding.json
Labels: documentation, enhancement, findings, non_breaking, v1.1.0

#866 Fix object names for reg_key and reg_value
  extensions/windows/dictionary.json
  extensions/windows/objects/registry_key.json
  extensions/windows/objects/registry_value.json
Labels: grammar_consistency, non_breaking, v1.1.0

#916 Correct a variety of spelling issues
  CONTRIBUTING.md
  dictionary.json
  events/discovery/user_inventory.json
  events/findings/finding.json
  objects/compliance.json
  objects/epss.json
  objects/ldap_person.json
  objects/organization.json
  objects/user.json
  profiles/security_control.json
Labels: non_breaking, description_updates, v1.1.0

#912 Register DataBee extension
  extensions.md
Labels: documentation, framework, v1.1.0

#911 adding type/type_id to datastore class
  events/application/datastore_activity.json
Labels: v1.1.0

#918 Remove start/end session activity_ids (reverts #882)
  events/iam/authorize_session.json
Labels: iam, non_breaking, v1.1.0

#921 #884 Add firewall, router, switch, hub to endpoint types.
  objects/endpoint.json
Labels: enhancement, non_breaking, v1.1.0

#922 Add is_vpn attribute to session object
  dictionary.json
  objects/session.json
Labels: enhancement, v1.1.0

#926 Fixing enum bug in macos extension
  extensions/macos/dictionary.json
Labels: bug, v1.1.0

#928 Changed the type of type_uid from integer to long.
  dictionary.json
Labels: bug, framework, v1.1.0

#903 Incident Finding event class definition
  dictionary.json
  events/findings/incident_finding.json
Labels: findings, non_breaking, v1.1.0

#929 CRUD values to the 3006 class
  events/iam/group_management.json
Labels: enhancement, iam, non_breaking, v1.1.0

#910 Adding, updating attributes to support Network Firewalls Events
  dictionary.json
  objects/device.json
  objects/endpoint.json
  objects/network_connection_info.json
  objects/network_endpoint.json
  objects/network_traffic.json
  objects/session.json
  profiles/container.json
Labels: network_activity, v1.1.0

#930 Add verdict, verdict_id, verdict_type, and verdict_type_id to Incident_findings class
  dictionary.json
  events/findings/incident_finding.json
Labels: enhancement, findings, v1.1.0

#915 Porting the Scan event from the ICD schema.
  dictionary.json
  events/application/scan_activity.json
  objects/scan.json
Labels: enhancement, non_breaking, application_activity, v1.1.0

#932 Added the state sibling attribute to Network Connection Info per convention.
  events/discovery/network_connection_info.json
Labels: bug, discovery, non_breaking, v1.1.0

#934 Move 'extensions' to 'schema_extensions_list'
  dictionary.json
  objects/metadata.json
Labels: grammar_consistency, non_breaking, v1.1.0

#937 Updated dictionary deprecated attributes from 1.0.0 to 1.1.0
  dictionary.json
Labels: bug, description_updates, deprecation, v1.1.0

#938 Register Sciber schema extension
  extensions.md
Labels: documentation

#914 Adding Device Config State Change event class
  dictionary.json
  events/discovery/device_config_state_change.json
  objects/security_state.json
Labels: enhancement, non_breaking, application_activity, v1.1.0

#939 Update 5002 and 5004 with "recommended" requirement.
  events/discovery/config_state.json
  events/discovery/patch_state.json
Labels: discovery, grammar_consistency, v1.1.0

#940 Undoing breaking changes to the cve object, adding deprecation tags instead.
  dictionary.json
  objects/cve.json
Labels: bug, v1.1.0

#944 OCSF schema repo artifact cleanup
  NOTICE
  doc/extending-existing-class.md
Labels: documentation, v1.1.0

#948 Updating versions to 1.2.0-dev, syncing changes done in v1.1.0
  CHANGELOG.md
  dictionary.json
  extensions/linux/extension.json
  extensions/macos/extension.json
  extensions/windows/extension.json
  objects/metadata.json
  objects/security_state.json
  version.json
Labels: maintainers
