Repository ocsf/ocsf-schema, pull requests merged in 2024-07, with the labels that each got.

#1111 Improve and fix enum declarations
  CHANGELOG.md
  dictionary.json
  objects/analytic.json
Labels: bug, description_updates, v1.3.0 and later

#1134 New Discovery software inventory class
  CHANGELOG.md
  events/discovery/software_inventory_info.json
Labels: enhancement, discovery, non_breaking, v1.3.0 and later

#1063 Linting controls
  CHANGELOG.md
  dictionary.json
  metaschema/attribute.schema.json
  metaschema/dictionary-attribute.schema.json
Labels: documentation, framework

#1137 Adding credential_uid as an observable type, misc Changelog fixes
  CHANGELOG.md
  dictionary.json
Labels: non_breaking, v1.3.0 and later

#1140 Update extensions.md to include US Gov
  CHANGELOG.md
  extensions.md
Labels: documentation

#1144 Fixing event class names, file names for the new remediation events
  events/remediation/file_remediation_activity.json
  events/remediation/network_remediation_activity.json
  events/remediation/process_remediation_activity.json
  events/remediation/remediation_activity.json
Labels: bug, non_breaking, v1.3.0 and later

#1146 Enums with only the nominal values (0/99 or 99) in dictionary have 'See specific usage' in the description
  CHANGELOG.md
  dictionary.json
  objects/dns_answer.json
  objects/malware.json
  objects/module.json
  objects/process.json
  profiles/security_control.json
Labels: v1.3.0

#1142 Software package object improvements
  CHANGELOG.md
  objects/package.json
Labels: enhancement, discovery, v1.3.0

#1125 New Timespan object to encapsulate average durations.
  CHANGELOG.md
  dictionary.json
  includes/occurrence.json
  objects/kb_article.json
  objects/package.json
  objects/timespan.json
Labels: enhancement, v1.3.0

#1138 Enhancement to load_balancer object
  CHANGELOG.md
  objects/endpoint.json
  objects/load_balancer.json
Labels: enhancement, non_breaking, v1.3.0

#1149 Feat: [1148] - enrichment extension
  CHANGELOG.md
  dictionary.json
  objects/enrichment.json
Labels: v1.3.0

#1150 Fixing inconsistencies in the findings classes, other desc corrections
  CHANGELOG.md
  events/findings/compliance_finding.json
  events/findings/data_security_finding.json
  events/findings/vulnerability_finding.json
Labels: bug, non_breaking, v1.3.0

#1143 adding state_id IDs
  CHANGELOG.md
  events/discovery/device_config_state_change.json
Labels: discovery, v1.3.0
