Repository ocsf/ocsf-schema, pull requests merged in 2024-05, with the labels that each got.

#1071 General cleanup of schema definition files
  .github/labeler.yml
  .github/pull_request_template.md
  .gitignore
  CHANGELOG.md
  dictionary.json
  events/discovery/device_config_state_change.json
  events/iam/authentication.json
  events/network/http.json
  events/network/network.json
  events/system/memory.json
  extensions/windows/objects/win_resource.json
  objects/authorization.json
  objects/device.json
  objects/dns_answer.json
  objects/email.json
  objects/http_request.json
  objects/logger.json
  objects/metadata.json
  objects/network_connection_info.json
  objects/policy.json
  objects/product.json
  objects/security_state.json
  objects/url.json
Labels: framework, non_breaking

#1074 Registering a schema extension UID for Cisco
  CHANGELOG.md
  extensions.md
Labels: documentation

#1062 Evidences object update
  CHANGELOG.md
  objects/evidences.json
Labels: enhancement, non_breaking, v1.3.0 and later

#1066 Support for MITRE D3FEND, Remediation Category and Classes
  CHANGELOG.md
  categories.json
  dictionary.json
  events/remediation/file_remediation.json
  events/remediation/network_remediation.json
  events/remediation/process_remediation.json
  events/remediation/remediation.json
  objects/attack.json
  objects/d3f_tactic.json
  objects/d3f_technique.json
  objects/d3fend.json
  objects/sub_technique.json
  objects/tactic.json
  objects/technique.json
Labels: enhancement, non_breaking, v1.3.0 and later

#1070 Feat: [#1069] - added signature state id into the Digital signature
  CHANGELOG.md
  objects/digital_signature.json
Labels: enhancement, non_breaking, v1.3.0 and later

#1082 Add JA4+ Network Traffic Fingerprints
  CHANGELOG.md
  dictionary.json
  events/network/network.json
  events/system/filesystem.json
  objects/ja4_fingerprint.json
Labels: enhancement, network_activity, non_breaking, v1.3.0 and later

#1067 External ticket support of ticketing systems like salesforce.
  CHANGELOG.md
  dictionary.json
  events/findings/incident_finding.json
  objects/ticket.json
Labels: enhancement, findings, v1.3.0 and later

#1096 Add missing domain attribute to URL object
  CHANGELOG.md
  objects/url.json
Labels: enhancement, network_activity, non_breaking, v1.3.0 and later

#1094 Enhance Managed Entity
  CHANGELOG.md
  objects/managed_entity.json
Labels: enhancement, iam, non_breaking, v1.3.0 and later

#1099 Fix typo in actor desc
  events/iam/entity_management.json
Labels: enhancement, iam, non_breaking, v1.3.0 and later

#1100 Corrected the bad link in the d3fend object description
  objects/d3fend.json
Labels: bug, description_updates, v1.3.0 and later

#992 Create `osint` Profile
  CHANGELOG.md
  dictionary.json
  events/base_event.json
  objects/certificate.json
  objects/domain_contact.json
  objects/osint.json
  objects/whois.json
  profiles/osint.json
Labels: enhancement, findings, v1.3.0 and later
