Repository ocsf/ocsf-schema, pull requests merged in 2024-04, with the labels that each got.

#1001 Fix punctuation for transmit_time
  CHANGELOG.md
  dictionary.json
  objects/logger.json
Labels: grammar_consistency, v2.0

#993 Metaschema: support event class and object attribute observables
  CHANGELOG.md
  metaschema/attribute.schema.json
  metaschema/common-event-object.schema.json
  metaschema/event.schema.json
  metaschema/object.schema.json
Labels: enhancement, non_breaking, v1.2.0 and later

#1018 Add a 'Preauth' activity_id to Authentication Class
  CHANGELOG.md
  events/iam/authentication.json
Labels: enhancement, iam, non_breaking, v2.0

#1023 Broaden Desc of Share Attributes
  dictionary.json
  events/network/smb.json
Labels: enhancement, network_activity, non_breaking, v1.2.0 and later

#1026 Fix Minor Typo: make 'class' lowercase in class description
  dictionary.json
Labels: enhancement, description_updates, v1.2.0 and later

#1030 Added the security_control profile and attributes to the Datastore Activity class
  CHANGELOG.md
  events/application/datastore_activity.json
Labels: enhancement, non_breaking, application_activity, v1.2.0 and later

#1016 Enhance email_t regex to allow all characters from RFC5322
  CHANGELOG.md
  dictionary.json
Labels: bug, non_breaking, v1.2.0 and later

#1012 Add a Network Tunnel Activity Class
  CHANGELOG.md
  dictionary.json
  events/network/tunnel_activity.json
Labels: enhancement, network_activity, v1.2.0 and later

#1036 Fix `category_ids` typo
  dictionary.json
Labels: non_breaking

#1039 Update ext versions, add siblings
  dictionary.json
  events/network/tunnel_activity.json
  extensions/linux/extension.json
  extensions/windows/extension.json
Labels: network_activity, non_breaking, extensions

#1045 feat: add file_result to File Hosting Activity
  CHANGELOG.md
  events/application/file_hosting.json
Labels: enhancement, non_breaking, application_activity, v1.3.0 and later

#1049 Fix grammar in status_detail desc/caption
  dictionary.json
Labels: enhancement, grammar_consistency, non_breaking, v1.3.0 and later

#1051 [bugfix]: Adding unknown enum value to query_result_id
  dictionary.json
Labels: bug, non_breaking, v1.2.0

#1052 [nonbreaking] Minor indentation fix for readability
  events/network/tunnel_activity.json
Labels: network_activity, non_breaking, v1.3.0 and later

#1055 Bugfixes, Changelog updates for v1.2.0
  CHANGELOG.md
  dictionary.json
  extensions/linux/extension.json
  extensions/windows/extension.json
  objects/related_event.json
  version.json
Labels: bug, v1.2.0

#1056 Clarify how to reference profiles in metadata
  CHANGELOG.md
  dictionary.json
Labels: documentation, non_breaking

#1059 1057 Update linux_users caption
  extensions/linux/profiles/linux_users.json
Labels: grammar_consistency, non_breaking, extensions, v1.3.0 and later

#1046 feat: adds `ext` attribute to `File` object
  CHANGELOG.md
  dictionary.json
  objects/file.json
Labels: enhancement, non_breaking, v1.3.0 and later

#1064 Application Lifecycle: Add `Update`, `Restart`, `Enable`, `Disable` activities
  CHANGELOG.md
  events/application/application_lifecycle.json
Labels: enhancement, grammar_consistency, non_breaking, application_activity, v1.3.0 and later

#1014 Add an `Event Log Activity` Class
  CHANGELOG.md
  dictionary.json
  events/system/event_log.json
Labels: enhancement, system_activity, non_breaking, v1.3.0 and later
