Repository ocsf/ocsf-schema, pull requests merged in 2024-12, with the labels that each got.

#1259 Email object and Email Activity updates. Deprecate Email URL Activity and Email File Activity.
  CHANGELOG.md
  dictionary.json
  events/network/email_activity.json
  events/network/email_file_activity.json
  events/network/email_url_activity.json
  objects/email.json
Labels: network_activity, non_breaking, description_updates, deprecation, v1.4.0 or later

#1253 Add `Airborne Broadcast Activity` into Unmanned Systems
  CHANGELOG.md
  dictionary.json
  events/unmanned_systems/airborne_broadcast_activity.json
  objects/aircraft.json
  objects/unmanned_aerial_system.json
Labels: enhancement, v1.4.0 or later

#1271 Updates to related_event object. Expanding the object to allow representation of more information about the related event.
  CHANGELOG.md
  dictionary.json
  events/discovery/cloud_resources_inventory_info.json
  objects/cloud.json
  objects/finding.json
  objects/finding_info.json
  objects/observable.json
  objects/related_event.json
Labels: enhancement, findings, non_breaking, description_updates, deprecation

#1274 Issue 1273: Relax dst_endpoint, http_request, http_response in network and http event classes
  CHANGELOG.md
  events/network/http_activity.json
  events/network/network.json
Labels: network_activity

#1283 Fix typo in key_value_object desc
  objects/key_value_object.json
Labels: enhancement, grammar_consistency, non_breaking, v1.4.0 or later

#1285 Add: Unlock Activity
  CHANGELOG.md
  events/iam/account_change.json
Labels: enhancement, iam, non_breaking, v1.4.0 or later

#1282 Add policies to Account Change event class
  CHANGELOG.md
  events/iam/account_change.json
Labels: enhancement, iam, v1.4.0 or later
