Repository ocsf/ocsf-schema, pull requests merged in 2024-11, with the labels that each got.

#1239 Identity Provider object additions, create SCIM & SSO objects
  CHANGELOG.md
  dictionary.json
  objects/fingerprint.json
  objects/idp.json
  objects/scim.json
  objects/sso.json
Labels: enhancement, grammar_consistency, non_breaking, description_updates, v1.4.0 or later

#1250 Create `Cloud Resources Inventory Info`, add Resource Name observable
  CHANGELOG.md
  events/discovery/cloud_resources_inventory_info.json
  objects/resource_details.json
Labels: enhancement, discovery, v1.4.0 or later

#1252 Add `Trace` `activity_id` to `Email Activity Class`
  CHANGELOG.md
  events/network/email_activity.json
Labels: enhancement, network_activity, non_breaking, v1.4.0 or later

#1231 D3fend reference links moved to new references meta data fields.
  dictionary.json
  objects/certificate.json
  objects/d3f_tactic.json
  objects/d3f_technique.json
  objects/d3fend.json
  objects/dce_rpc.json
  objects/device.json
  objects/dns_query.json
  objects/email.json
  objects/endpoint.json
  objects/file.json
  objects/image.json
  objects/kernel.json
  objects/kernel_driver.json
  objects/location.json
  objects/metadata.json
  objects/network_connection_info.json
  objects/network_proxy.json
  objects/network_traffic.json
  objects/os.json
  objects/package.json
  objects/process.json
  objects/session.json
  objects/url.json
  objects/user.json
Labels: non_breaking, description_updates, v1.4.0 or later

#1249 Add Kernel Release field to OS object
  CHANGELOG.md
  dictionary.json
  objects/os.json
Labels: enhancement, system_activity, non_breaking, v1.4.0 or later

#1257 Adding vendor provided severity info to finding_info
  CHANGELOG.md
  dictionary.json
  events/findings/finding.json
  events/findings/incident_finding.json
  objects/vendor_attributes.json
Labels: findings, non_breaking, v1.4.0 or later

#1256 Add RFC 5322 to email attribute references
  dictionary.json
  objects/email.json
Labels: enhancement, non_breaking

#1266 Fixed the description for Security Control action_id
  profiles/security_control.json
Labels: non_breaking, description_updates, v1.4.0 or later
