Repository ocsf/ocsf-schema, pull requests merged in 2024-10, with the labels that each got.

#1191 Added the profile: null statement to avoid hiding osint when the profile isn't applied
  CHANGELOG.md
  events/discovery/osint_inventory_info.json
Labels: bug, v1.4.0 or later

#1193 Removed constraint from group_management
  CHANGELOG.md
  events/iam/group_management.json
Labels: enhancement, iam, non_breaking, v1.4.0 or later

#1200 Fix http activity
  CHANGELOG.md
  dictionary.json
  events/application/api_activity.json
  events/application/datastore_activity.json
  events/iam/iam.json
  objects/http_request.json
  objects/http_response.json
Labels: bug, enhancement, v1.4.0 or later

#1206 Updated Description for Network Connection Information object.
  objects/network_connection_info.json
Labels: documentation, network_activity, non_breaking, description_updates, v1.4.0 or later

#1207 Adding a Tags - key:value pair object to the schema
  CHANGELOG.md
  dictionary.json
  objects/_resource.json
  objects/account.json
  objects/container.json
  objects/http_header.json
  objects/image.json
  objects/ldap_person.json
  objects/metadata.json
  objects/resource_details.json
  objects/service.json
  objects/tag.json
Labels: enhancement, non_breaking, v1.4.0 or later

#1208 Add is_public to databucket object
  CHANGELOG.md
  dictionary.json
  objects/databucket.json
Labels: enhancement, v1.4.0 or later

#1212 Adding http_request and http_response to evidences object
  CHANGELOG.md
  objects/evidences.json
Labels: enhancement, v1.4.0 or later

#1221 Updated the community_uid attribute to add source and references
  dictionary.json
Labels: documentation, non_breaking, description_updates, metaschema, v1.4.0 or later

#1219 Compliance Object improvements
  CHANGELOG.md
  dictionary.json
  events/findings/finding.json
  events/findings/security_finding.json
  objects/compliance.json
  objects/key_value_object.json
  objects/tag.json
Labels: enhancement, findings, description_updates

#1169 Add UAS (drone) tracking event: `Drone Flights Activity`
  CHANGELOG.md
  categories.json
  dictionary.json
  events/unmanned_systems/drone_flights_activity.json
  events/unmanned_systems/unmanned_systems.json
  objects/device_hw_info.json
  objects/location.json
  objects/managed_entity.json
  objects/unmanned_aerial_system.json
  objects/unmanned_system_operating_area.json
Labels: enhancement, non_breaking, v1.4.0 or later
