Repository ocsf/ocsf-schema, pull requests merged in 2024-09, with the labels that each got.

#1119 Adding the Startup Application Query event class in the discovery category.
  CHANGELOG.md
  dictionary.json
  events/discovery/startup_item_query.json
  extensions/windows/objects/startup_item.json
  objects/startup_item.json
Labels: discovery, v1.4.0 or later

#1174 Updating data type constraints
  CHANGELOG.md
  dictionary.json
Labels: bug, non_breaking

#1175 Strengthen the event_code description verbiage
  dictionary.json
Labels: enhancement, non_breaking, description_updates, v1.4.0 or later

#1176 Vulnerability finding improvements
  dictionary.json
  objects/advisory.json
  objects/cve.json
  objects/cvss.json
  objects/vulnerability.json
Labels: enhancement, findings

#1179 Add Email Account `type_id` and Forwarding Address Support
  CHANGELOG.md
  dictionary.json
  objects/account.json
  objects/user.json
Labels: enhancement, non_breaking, v1.4.0 or later

#1182 Updating hostname_t regex, other minor formatting changes
  CHANGELOG.md
  dictionary.json
Labels: bug, enhancement

#1178 Added the is_alert flag to the dictionary, the security_control profile and detection_finding class
  CHANGELOG.md
  dictionary.json
  events/findings/data_security_finding.json
  events/findings/detection_finding.json
  profiles/security_control.json
Labels: enhancement, findings, non_breaking, v1.4.0 or later
