Repository ocsf/ocsf-schema, pull requests merged in 2024-08, with the labels that each got.

#1152 v1.3.0 Release
  CHANGELOG.md
  extensions/linux/extension.json
  extensions/windows/extension.json
  version.json
Labels: v1.3.0

#1115 Backwards Compatibility Workflow
  .github/workflows/validate-compatibility.yml
  .github/workflows/validate-metaschema.yml
  .github/workflows/validate.yml
Labels: v1.4.0 or later

#1154 Create `OSINT Inventory Info` Discovery Event
  CHANGELOG.md
  events/discovery/osint_inventory_info.json
Labels: discovery, non_breaking, v1.4.0 or later

#1155 `user` Object expansion and related Observables creation
  CHANGELOG.md
  dictionary.json
  objects/account.json
  objects/group.json
  objects/ldap_person.json
  objects/user.json
Labels: enhancement, v1.4.0 or later

#1160 Change "misspellings" of identifier contraction "Id" to "ID"
  dictionary.json
Labels: bug

#1165 Minor addition to the cvss object
  CHANGELOG.md
  objects/cvss.json
Labels: enhancement, findings, v1.4.0 or later

#1166 Expand applicability and direction of `cloud.account` and `cloud.org` & deprecate `project_uid`
  CHANGELOG.md
  dictionary.json
  objects/account.json
  objects/cloud.json
  objects/organization.json
Labels: description_updates, deprecation, v1.4.0 or later

#1164 Fix grammar for *_permissions attributes
  dictionary.json
  events/system/memory.json
  events/system/process.json
Labels: system_activity, grammar_consistency, non_breaking, v1.4.0 or later

#1159 Added Script Activity event class.
  CHANGELOG.md
  dictionary.json
  events/system/script.json
  extensions/windows/objects/evidences.json
  objects/evidences.json
  objects/script.json
Labels: system_activity, v1.4.0 or later

#1163 Updated event classes, added missing categories.
  .vscode/settings.json
  events/application/file_hosting.json
  events/application/scan_activity.json
  events/application/web_resource_access_activity.json
  events/application/web_resources_activity.json
  events/discovery/discovery_result.json
  events/findings/compliance_finding.json
  events/findings/data_security_finding.json
  events/findings/detection_finding.json
  events/findings/incident_finding.json
  events/findings/security_finding.json
  events/network/dhcp.json
  events/network/file_activity.json
  events/network/http.json
  events/network/network_activity.json
  events/network/tunnel_activity.json
Labels: grammar_consistency, framework

#1157 Add evidences to Compliance Finding
  CHANGELOG.md
  dictionary.json
  events/findings/compliance_finding.json
  events/findings/detection_finding.json
Labels: findings, non_breaking, v1.4.0 or later

#1168 Expand `osint` object
  CHANGELOG.md
  objects/osint.json
Labels: enhancement, discovery, grammar_consistency, non_breaking, v1.4.0 or later
