Repository ocsf/ocsf-schema, pull requests merged in 2024-06, with the labels that each got.

#1093 Feat: [#1091] - extension of package by vendor_name and type
  CHANGELOG.md
  objects/package.json
Labels: enhancement, findings, non_breaking, v1.3.0 and later

#1088 Improvements to Operating System Patch State 5004
  dictionary.json
  objects/device.json
  objects/kb_article.json
Labels: enhancement, discovery

#1117 change the duration attribute to long_t
  dictionary.json
Labels: bug
