Repository ocsf/ocsf-schema, pull requests merged in 2024-03, with the labels that each got.

#967 Refactoring Discovery EOC event classes (issue 958)
  CHANGELOG.md
  dictionary.json
  events/discovery/discovery_result.json
  events/discovery/file_query.json
  events/discovery/folder_query.json
  events/discovery/group_query.json
  events/discovery/job_query.json
  events/discovery/kernel_object_query.json
  events/discovery/module_query.json
  events/discovery/network_connection_query.json
  events/discovery/networks_query.json
  events/discovery/peripheral_device_info.json
  events/discovery/peripheral_device_query.json
  events/discovery/process_query.json
  events/discovery/service_query.json
  events/discovery/session_info.json
  events/discovery/session_query.json
  events/discovery/user_info.json
  events/discovery/user_query.json
  extensions/macos/events/startup_app_info.json
  extensions/macos/events/startup_app_query.json
  extensions/windows/events/prefetch_query.json
  extensions/windows/events/registry_key_query.json
  extensions/windows/events/registry_value_query.json
Labels: discovery, v1.2.0 and later

#982 Add new ways to define observables to metaschema
  CHANGELOG.md
  metaschema/dictionary-attribute.schema.json
  metaschema/event.schema.json
Labels: enhancement, non_breaking, v1.2.0 and later

#979 Added Client Application attributes to the Actor object
  CHANGELOG.md
  dictionary.json
  objects/actor.json
Labels: enhancement, non_breaking, description_updates, v1.2.0 and later

#984 Evidences object update, other minor fixes.
  CHANGELOG.md
  objects/data_security.json
  objects/database.json
  objects/evidences.json
Labels: bug, findings, v1.2.0 and later
