Repository ocsf/ocsf-schema, pull requests merged in 2024-02, with the labels that each got.

#959 Correct type for priority field
  CHANGELOG.md
  dictionary.json
Labels: bug, v1.2.0 and later

#951 Register Sedara schema extension
  CHANGELOG.md
  extensions.md
Labels: documentation, v1.2.0 and later

#949 New auth_factor Object to be used in Authentication Class
  CHANGELOG.md
  dictionary.json
  events/iam/authentication.json
  objects/auth_factor.json
Labels: enhancement, iam, v1.2.0 and later

#971 Simplification of geo location object
  CHANGELOG.md
  dictionary.json
  objects/location.json
Labels: enhancement, v1.2.0 and later
