Repository ocsf/ocsf-schema, pull requests merged in 2025-07, with the labels that each got.

#1461 Adding is_truncated and untruncated_size to metadata
  objects/logger.json
  objects/metadata.json
Labels: v1.6.0

#1389 IAM Analysis Finding - A new event class.
  CHANGELOG.md
  dictionary.json
  events/findings/finding.json
  events/findings/iam_analysis_finding.json
  objects/access_analysis_result.json
  objects/account.json
  objects/additional_restriction.json
  objects/authentication_token.json
  objects/firewall_rule.json
  objects/identity_activity_metrics.json
  objects/kb_article.json
  objects/permission_analysis_result.json
  objects/policy.json
  objects/programmatic_credential.json
  objects/resource_details.json
  objects/user.json
Labels: enhancement, findings, v1.6.0

#1464 issue-1457: Improve clarity on which network endpoint initiated flow
  CHANGELOG.md
  dictionary.json
  events/network/network_activity.json
Labels: network_activity, v1.6.0
