Repository ocsf/ocsf-schema, pull requests merged in 2025-03, with the labels that each got.

#1359 Add `ldap` protocol to `auth_protocol_id` enum
  CHANGELOG.md
  dictionary.json
Labels: v1.5.0

#1337 Expand `evidences`
  CHANGELOG.md
  objects/evidences.json
Labels: enhancement, findings, non_breaking, v1.5.0

#1358 Updating Detection Finding to support representation of Anomaly Detections. Additionally, minor updates to discovery_details object.
  CHANGELOG.md
  dictionary.json
  events/findings/detection_finding.json
  objects/analytic.json
  objects/anomaly.json
  objects/anomaly_analysis.json
  objects/baseline.json
  objects/discovery_details.json
  objects/key_value_object.json
  objects/observation.json
Labels: enhancement, findings, v1.5.0

#1365 Added count, start_time, end_time to timespan as optional attributes.
  CHANGELOG.md
  objects/timespan.json
Labels: enhancement, non_breaking, v1.5.0

#1364 Added Managed Entity Zone type
  CHANGELOG.md
  objects/managed_entity.json
Labels: enhancement, iam, non_breaking, description_updates, v1.5.0

#1363 Adding `traits` to `related_event` object
  CHANGELOG.md
  dictionary.json
  objects/related_event.json
  objects/trait.json
Labels: enhancement, findings, v1.5.0

#1371 issue-1366: Update 'anomaly_analysis' object to have 'analysis_targets'
  CHANGELOG.md
  dictionary.json
  objects/analysis_target.json
  objects/anomaly_analysis.json
  objects/observation.json
Labels: findings, non_breaking

#1370 Introduce a Mitre Mitigation object
  CHANGELOG.md
  dictionary.json
  objects/attack.json
  objects/mitigation.json
Labels: enhancement, findings, v1.5.0

#1373 Updating malware object, and detection finding to support malware detection findings
  CHANGELOG.md
  dictionary.json
  events/findings/detection_finding.json
  objects/file.json
  objects/malware.json
  objects/malware_scan_info.json
  objects/scan.json
  profiles/security_control.json
Labels: enhancement, findings, v1.5.0
