Repository ocsf/ocsf-schema, pull requests merged in 2025-05, with the labels that each got.

#1412 Added more `algorithm_id` values and references to the `fingerprint` object
  CHANGELOG.md
  objects/fingerprint.json
Labels: v1.6.0

#1415 RDP Activity: Add new activities, enhance descriptions
  CHANGELOG.md
  events/network/rdp_activity.json
Labels: enhancement, network_activity, non_breaking, v1.6.0

#1419 Add user to RDP Activity
  CHANGELOG.md
  events/network/rdp_activity.json
Labels: network_activity, non_breaking, v1.6.0

#1411 docs: fix all spelling issues and add CI check to ensure no regressions
  .github/.cspell.yaml
  .github/.project-words.txt
  .github/workflows/linter.yml
  CHANGELOG.md
  dictionary.json
  events/findings/compliance_finding.json
  objects/data_classification.json
  objects/discovery_details.json
  objects/encryption_details.json
  objects/graph.json
  objects/occurrence_details.json
  objects/span.json
  objects/vendor_attributes.json
  profiles/data_classification.json
Labels: grammar_consistency, non_breaking, v1.6.0

#1427 Add PATCH method to http activity and http_request
  CHANGELOG.md
  events/network/http_activity.json
  objects/http_request.json
Labels: enhancement, v1.6.0
