Repository ocsf/ocsf-schema, pull requests merged in 2025-08, with the labels that each got.

#1468 Added type-specific attributes to represent Windows registry value data.
  CHANGELOG.md
  dictionary.json
  extensions/windows/dictionary.json
  extensions/windows/objects/registry_value.json
  metaschema/deprecated.schema.json
Labels: enhancement, system_activity, v1.6.0

#1475 Add `Local (4)` enum to `direction_id` Attribute
  CHANGELOG.md
  dictionary.json
Labels: network_activity, v1.7.0

#1455 Added `auth_factors` as an attribute to the `Account Change` class.
  CHANGELOG.md
  dictionary.json
  events/iam/account_change.json
  events/iam/authentication.json
Labels: iam, v1.7.0

#1471 Add a `Peripheral Activity` Class
  CHANGELOG.md
  dictionary.json
  events/system/peripheral_activity.json
  objects/peripheral_device.json
Labels: enhancement, system_activity, v1.7.0
