Repository ocsf/ocsf-schema, pull requests merged in 2025-02, with the labels that each got.

#1335 Add boot_uid to device.
  CHANGELOG.md
  dictionary.json
  objects/device.json
Labels: enhancement, v1.5.0 or later

#1344 network interface description
  dictionary.json
  objects/network_interface.json
Labels: description_updates, v1.5.0

#1347 Add raw_data_size to base_event.
  CHANGELOG.md
  dictionary.json
  events/base_event.json
Labels: enhancement, non_breaking, v1.5.0

#1341 Add `display_name` to `user` and `ldap_person`
  CHANGELOG.md
  dictionary.json
  objects/ldap_person.json
  objects/user.json
Labels: enhancement, grammar_consistency, non_breaking, v1.5.0

#1345 Adding a new attributes, objects to represent resource relationships as a graph.
  CHANGELOG.md
  dictionary.json
  objects/edge.json
  objects/graph.json
  objects/node.json
  objects/resource_details.json
Labels: v1.5.0

#1350 Adding attributes to inidicate fix coverage in the vulnerability object
  CHANGELOG.md
  dictionary.json
  objects/vulnerability.json
Labels: enhancement, findings, v1.5.0

#1346 Expand `device` with mobile device attributes
  CHANGELOG.md
  dictionary.json
  objects/device.json
  objects/resource_details.json
Labels: enhancement, non_breaking, v1.5.0

#1351 ISP & ISP Org related changes
  CHANGELOG.md
  dictionary.json
  objects/location.json
  objects/network_endpoint.json
  objects/whois.json
Labels: enhancement, network_activity, deprecation, v1.5.0

#1355 Expanded the Attack object and attributes to include MITRE Atlas.
  CHANGELOG.md
  dictionary.json
  objects/attack.json
  objects/d3f_tactic.json
  objects/d3f_technique.json
  objects/d3fend.json
  objects/sub_technique.json
  objects/tactic.json
  objects/technique.json
Labels: non_breaking, description_updates, v1.5.0
