Repository ocsf/ocsf-schema, pull requests merged in 2025-04, with the labels that each got.

#1246 Add Common Process Identifier (CPID) field to process entity
  CHANGELOG.md
  dictionary.json
  objects/process.json
  objects/process_entity.json
Labels: enhancement, v1.5.0

#1357 Extend OCSF schema for ASPM Findings
  CHANGELOG.md
  dictionary.json
  events/findings/application_security_posture_finding.json
  objects/advisory.json
  objects/affected_code.json
  objects/affected_package.json
  objects/application.json
  objects/compliance.json
  objects/file.json
  objects/package.json
  objects/sbom.json
  objects/vulnerability.json
Labels: enhancement, findings, non_breaking, description_updates, v1.5.0

#1310 OSINT extension
  CHANGELOG.md
  dictionary.json
  objects/campaign.json
  objects/osint.json
  objects/threat_actor.json
Labels: enhancement, non_breaking, v1.5.0

#1392 Add Transformation_info
  CHANGELOG.md
  dictionary.json
  objects/metadata.json
  objects/transformation_info.json
Labels: enhancement, v1.5.0

#1394 Change _resource.uid to have observable type 10 (Resource UID)
  CHANGELOG.md
  objects/_resource.json
Labels: v1.5.0

#1391 Add authentication_token object
  CHANGELOG.md
  dictionary.json
  events/iam/authentication.json
  objects/authentication_token.json
Labels: enhancement, iam, non_breaking, description_updates, v1.5.0

#1399 fix D3FEND typos
  dictionary.json
Labels: description_updates

#1402 Minor updates to ticket, _resource & finding_info objects
  CHANGELOG.md
  dictionary.json
  events/findings/incident_finding.json
  events/network/dhcp_activity.json
  objects/_resource.json
  objects/finding_info.json
  objects/ticket.json
  profiles/incident.json
Labels: enhancement, findings, deprecation, v1.5.0

#1403 Minor updates to the resource object
  CHANGELOG.md
  dictionary.json
  objects/_resource.json
  objects/cloud.json
  objects/resource_details.json
Labels: v1.5.0

#1381 Add new observables (type change)
  CHANGELOG.md
  dictionary.json
  extensions/windows/dictionary.json
  extensions/windows/objects/registry_key.json
  extensions/windows/objects/registry_value.json
  objects/affected_package.json
  objects/file.json
  objects/image.json
  objects/kernel.json
  objects/malware.json
Labels: enhancement, extensions, v1.5.0

#1401 Add countermeasures to the MITRE mitigation object
  CHANGELOG.md
  objects/mitigation.json
Labels: enhancement, v1.5.0

#1382 Live Evidence class consolidation
  dictionary.json
  events/discovery/admin_group_query.json
  events/discovery/evidence_info.json
  events/discovery/file_query.json
  events/discovery/folder_query.json
  events/discovery/job_query.json
  events/discovery/kernel_object_query.json
  events/discovery/module_query.json
  events/discovery/network_connection_query.json
  events/discovery/networks_query.json
  events/discovery/peripheral_device_query.json
  events/discovery/process_query.json
  events/discovery/service_query.json
  events/discovery/session_query.json
  events/discovery/startup_item_query.json
  events/discovery/user_query.json
  extensions/windows/events/prefetch_query.json
  extensions/windows/events/registry_key_query.json
  extensions/windows/events/registry_value_query.json
  extensions/windows/objects/query_evidence.json
  objects/query_evidence.json
Labels: enhancement, discovery, deprecation, v1.5.0
