Repository ocsf/ocsf-schema, pull requests merged in 2025-01, with the labels that each got.

#1293 Create an Incident profile
  CHANGELOG.md
  events/findings/compliance_finding.json
  events/findings/data_security_finding.json
  events/findings/detection_finding.json
  events/findings/finding.json
  events/findings/incident_finding.json
  events/findings/vulnerability_finding.json
  profiles/incident.json
Labels: findings, non_breaking, description_updates, v1.4.0 or later

#1290 Update Actor description to distinguish from a campaign threat actor
  dictionary.json
  objects/actor.json
Labels: description_updates, v1.4.0 or later

#1299 Issue #1289: Add Application Error event class.
  CHANGELOG.md
  events/application/application_error.json
  profiles/trace.json
Labels: enhancement, non_breaking, application_activity, v1.4.0 or later

#1313 Issue-1311: Add 'keyboard_info' object to the RDP class
  CHANGELOG.md
  events/network/rdp_activity.json
Labels: network_activity, non_breaking

#1315 Add attributes to File Hosting Activity for the file share access chec…
  CHANGELOG.md
  events/application/file_hosting.json
Labels: enhancement, non_breaking, application_activity, v1.4.0 or later

#1320 Incident update
  dictionary.json
  events/findings/data_security_finding.json
  events/findings/detection_finding.json
  profiles/incident.json
Labels: bug, findings, non_breaking, description_updates, v1.4.0

#1321 Bugfix, adding group prop for vendor_attributes
  events/findings/finding.json
Labels: findings, v1.4.0

#1322 Add 'internal_name' attribute to 'file' object.
  CHANGELOG.md
  dictionary.json
  objects/file.json
Labels: non_breaking, v1.4.0

#1323 Add specific domain attribute descriptions for See Specific Usage
  objects/endpoint.json
  objects/http_cookie.json
  objects/whois.json
Labels: description_updates, v1.4.0

#1307 Issue-1306: Make `Email Activity` event class and `email` object more generic
  CHANGELOG.md
  dictionary.json
  events/network/email_activity.json
  events/network/email_file_activity.json
  events/network/email_url_activity.json
  objects/email.json
  objects/network_connection_info.json
Labels: bug, network_activity, breaking, deprecation, v1.4.0

#1325 Adding tls.certificate.sans array, deprecate tls.sans array
  CHANGELOG.md
  objects/certificate.json
  objects/tls.json
Labels: v1.4.0

#1316 Add `history` and `missing_bytes` attributes to network class
  CHANGELOG.md
  dictionary.json
  objects/network_connection_info.json
  objects/network_traffic.json
  objects/request.json
  objects/response.json
Labels: network_activity, non_breaking, v1.4.0

#1328 v1.4.0 Release
  CHANGELOG.md
  extensions/linux/extension.json
  extensions/windows/extension.json
  version.json
Labels: v1.4.0
